doctype html
html

  include includes/head.pug
  
  body
    div.container
        form(method='post' action='/login' class='form-signin')
            h2.form-signin-heading= title
            
            if error
                div.alert(class='alert-danger')= error
            
            label(for='username' class='sr-only') Username
            input(type='text' class='form-control' id='username' name='username' placeholder='Enter your username' required autofocus)
            
            label(for='password' class='sr-only') Password
            input(type='password' class='form-control' id='password' name='password' placeholder='Enter your password' required)

            input(type='submit' class='btn btn-lg btn-primary btn-block' value='Sign in')
        
        include includes/footer.pug

        script(type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js')