.videoContainer {
    position: relative;
    width: 200px;
    height: 150px;
}
.videoContainer video {
    position: absolute;
    width: 100%;
    height: 100%;
}
.volume {
    position: absolute;
    left: 15%;
    width: 70%;
    bottom: 5px;
    height: 5px;
    display: none;
}
.connectionstate {
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: center;
    color: #fff
}
#localScreenContainer {
    display: none;
}