#mainNavigation {
    margin-bottom: 10px;

    a {
        cursor: pointer;
    }
}

#surveillanceCategory {
    margin-bottom: 10px;
}

#surveillanceDetails {
    #surveillanceImage {
        img {
            width: 100%;
        }
    }

    #surveillanceLocation {
        position: absolute;
        top: 0px;
        right: 15px;
    }
}